body{
    background-color: rgb(7, 7, 7);
    margin: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.header{
    position: relative;
    width: 100%;
    height: 90vh;
    background-image: url(t.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 200px 0px;
    -webkit-border-radius: 0px 0px 200px 0px;
    -moz-border-radius: 0px 0px 200px 0px;
}

img{
    margin-top: 50px;
    background-color: rgb(30, 255, 0);
    margin-left: 0px;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    box-shadow: 0px 2px 48px 21px rgba(239,84,21,1);
    -webkit-box-shadow: 0px 2px 48px 21px rgba(239,84,21,1);
    -moz-box-shadow: 0px 2px 48px 21px rgba(239,84,21,1);
}

.header .navbar{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.header .navbar .logo{
    color: orange;
    font-size: 30px;
    margin-left: 50px;
}

.header .navbar .menu{
    display: inline-block;
    margin-right: 35px;
    align-items: center;
}

.header .navbar .menu ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* text-shadow: 1px -3px 0px #fffb02fa; */
}

ul li {
    display: inline-block;
}

.menu ul{
    margin-left: 300px;
}

.header .menu ul li a:hover{
    color: red;
}

.header .banner{
    position: absolute;
    top: 35%;
    left: 0;
    color: rgb(11, 243, 231);
    text-shadow: 2px -2px 0px #fc5406;
    font-size: 30px;
}

.header .banner .app-text{
    padding-left: 100px;
}

.container{
    width: 100%;
    height: 100vh;
    margin-top: 5px;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
}

.menu ul li{
    justify-content: flex-start;
}

i{
    color: red;
}
i:hover{
    color: rgb(250, 248, 248);
}

/*----------------------------- Header Style --------------------------*/

.small{
    color: white;
}

.contianer{
    color: white;
    width: 100%;
}

.main-box{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.box-one:hover{
    background: rgba(105, 90, 205, 0.514);
}

.box-two:hover{
    background: rgba(247, 3, 247, 0.548);
}

.box-three:hover{
    background: rgba(6, 247, 255, 0.438);
}

.box-one{
    background:  rgba(0, 255, 13, 0.253);
    width: 100%;
    padding: 10px;
}

.box-two{
    background: rgba(0, 255, 13, 0.459);
    width: 100%;
    padding: 10px;
}

.box-three{
    background: rgba(0, 255, 13, 0.253);
    width: 100%;
    padding: 10px;
}

.box-one img{
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 15%;
}

.box-two img{
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 15%;
}


.box-three img{
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: 15%;
}

h5:active{
    background-color: rgba(239,84,21,1);
    font-size: 40px;
}

h4 {
    color: rgb(253, 250, 253);
    padding: 10px;
    text-align: center;
    font-variant: unset;
}

p{
    color: white;
}

a i{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.small{
    color: yellow;
    font-size: 30px;
    font-weight: 500;
    font-variant: small-caps;
    margin: 20px;
}